button:disabled {
  color: lightgrey;
}

.navtitle {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  color: white;
  font-size: 26px;
  padding: 5px;
}

.titleinfo {
  text-align: center;
  font-size: 30px;
  padding: 20px 0px 15px 0px;
}

.signin {
  background-image: url('https://c2.staticflickr.com/2/1445/24904163684_e7b7c91fa5_k.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.header h1 {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 120px;
  color: crimson;
}

.subtitle {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.subtitle h2 {
  font-family: 'Montserrat', serif;
  font-size: 30px;
  color: crimson;
  width: 100%;
}

.loginbtn {
  position: fixed;
  top: 60%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.welcome {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.welcomesession {
  text-align: center;
  font-size: 20px;
}

.friends {
  list-style-type: none;
  padding-left: 0px;
}

.helloinfo {
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.fullmap {
  height: 380px;
  width: 680px;
  margin: auto;
}

.friendinfo {
  max-width: 200px;
  max-height: 200px;
  text-align: center;
  border-radius: 25px;
}

.friendpic {
  border-radius: 50%;
  padding: 6px 0px 0px 0px;
}

.main-nav-menu-icon {
  width: 40px;
  margin: 0px 15px 0px 0px;
}

.nav-list {
  list-style-type: none;
}

.nav-options {
  float: left;
  text-align: left;
}

.joinsessions {
  padding: 15px 0px 0px 0px;
}

.fullmap #mapcontainer {
  height: 350px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid grey;
}

.fullmap #controls {
  float: right;
  padding: 0px 15px 0px 0px;
  border-width: 2px;
  border-color: #ff7f7f;
}

.display {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.poster {
  max-width: 30%;
  float: left;
}

.bigview {
  max-width: 30%;
  float: left;
}

.large {
  font-size: 2em;
}

.container {
  width: 100%;
}

.creategroupbtn {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.creategroupform {
  padding: 0px 0px 0px 0px;
  text-align: left;
}

.zipcodebar {
  padding: 15px 0px 20px;
}

.session-label {
  font-size: 17px;
  padding: 0px 0px 0px 7px;
}

.laptop-buttons {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 5px;
}

.btn-laptop {
  font-size: 2em;
  border-radius: 5px;
}

.right-laptop {
  margin-right: 80px;
}
.error {
  border: 1px solid red;
  border-radius: 5%;
}

.error-msg {
  color: red;
}

#match {
  margin-bottom: 100px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 100px 0 50px 0;
}

.main-nav {
  height: 35px;
  background: crimson;
}

.app-logo {
  width: 100px;
}

.session-name {
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  font-size: 20px;
}

.main-nav-menu {
  float: right;
  position:relative;
  margin-top: 4px;
}

.main-nav-menu-icon {
  width: 25px;
}

.nav-list {
  padding-right: 13px;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  left: -80px;
  top: 35px;
  background: crimson;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.nav-list a:hover {
  text-decoration: none;
  font-weight: bold;
  color: white;
}


@media (max-width: 600px) {
  .welcomesession {
    text-align: center;
    font-size: 15px;
  }

  .titleinfo {
  text-align: center;
  font-size: 20px;
  padding: 20px 0px 15px 0px;
  }
}

@media only screen and (max-width: 630px) {
  .header {
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .header h1 {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 50px;
    color: crimson;
  }

  .subtitle {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .subtitle h2 {
    font-family: 'Montserrat', serif;
    font-size: 11px;
    color: crimson;
    width: 100%;
  }

  .loginbtn {
    position: fixed;
    top: 70%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .loginbtn img {
    width: 200px;
    length: 200px;
  }

  .navtitle {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    color: white;
    font-size: 26px;
    padding: 5px;
  }
}

