<div id="match" class="container">
  <div class="welcomesession">
    <span class="bold">Hi, {{ user.username }}!</span>
    <p>
    Once all your friends are here, click start.
  </p>

  <div class="friendsList">
    <ul class="friends" ng-repeat='user in users track by $index'>
      <li class="eachFriend">
        <div class="friendinfo">
        <img class="friendpic" src="{{user.picUrl}}"></img>
        <p>
        <span class="friendname"> {{ user.username }} </span>
        </div>
      </li>
    </ul>
  </div>

  <div class="startsessionbtn">
    <button class="btn-lg btn-primary active" ng-click="startSession( currentSession.id )">Start</button>
  </div>
</div>