<div id="match" class="container">
  
  <div class="welcomesession"><span class="bold">{{ user.username }}</span>, would you like to eat at this restaurant with your friends today?</div>
  
  <div class="choice">

      <div class="choicename">
        {{ currRestaurant.name }}
      </div>

      <div class="choiceinfo">
      <div class="choicepic">
        <img class="poster col-xs-6" src="{{ currRestaurantImageHD }}">
      </div>
      <div class="summary col-xs-6">
        <img src="{{ currRestaurant.rating_img_url }}"> {{currRestaurant.review_count}} reviews
      </div>
      
      <div class="summary col-xs-6">
        <p>{{ currRestaurant.snippet_text }}</p>
        <a href="{{currRestaurant.url}}">More info</a>
      </div>
    
    </div>

  </div>

    <p>

    <div class="buttonchoices">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="no" ng-click="no()">No Thanks</button>
        </div>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="yes" ng-click="yes()">Yes Please</button>
        </div>
      </div>
    </div>
</div>